// COLOR PALETTE
// Light-theme
$background: #fbfbfb;
$text:  #212529;
$primary: #228be6;
$secondary: #eeeeeee6;
// Dark-theme
$background-dark: #212529;
$text-dark:  #fbfbfb;
$primary-dark: #7950f2;
$secondary-dark: #454545e6;
// Indicators
$success: #40c057;
$warning: #fd7e14;
$danger:  #fa5252;

// CONSTANT FIXED CMPS SIZE
$appHeader: 4em;
$appFooter: 4em;

// LAYOUT
$layoutPadding: 20px;

$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;
$break-xx-large: 1400px;

$padded-break-small: $break-small + $layoutPadding * 2;
$padded-break-medium: $break-medium + $layoutPadding * 2;
$padded-break-large: $break-large + $layoutPadding * 2;
$padded-break-x-large: $break-x-large + $layoutPadding * 2;
$padded-break-xx-large: $break-xx-large + $layoutPadding * 2;
