.burger {
    width: em(44px);
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .bars {

        .bar {
            height: 3px;
            border-radius: 2px;
            margin: 10px;
            transition: transform 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
            width: 40px;
            border: none;
        }

        .bar:first-child {
            width: 16px;
        }
        .bar:last-child {
            width: 28px;
        }
    }
}

.burger-toggle {
    display: none;
    &:checked {
        + .burger {
            .bars {
                .bar:first-child {
                    transform: rotate(45deg) translateY(1px) translateX(5px);
                }
                .bar:nth-child(2) {
                    transform: rotate(-45deg);
                }
                .bar:last-child {
                    transform: rotate(45deg) translateY(-13px) translateX(2px);
                }
            }
        }
    }
}
